.app-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: var(--font-family-primary);
}

.app-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-bg-dark);
  z-index: var(--z-base);
}

.app-content {
  position: relative;
  z-index: 2;
  min-height: calc(100vh - var(--size-nav-height));
  padding-bottom: var(--size-nav-height);
}