.trust-circle-tab {
  padding: 20px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.trust-circle-header {
  text-align: center;
}

.trust-circle-header h2 {
  color: #fffdf6;
  font-size: 32px;
  font-weight: 600;
}
