# Private key for deployment (without 0x prefix)
PRIVATE_KEY=

# RPC URLs
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
BASE_RPC_URL=https://mainnet.base.org

# Basescan API key for contract verification
BASESCAN_API_KEY=

# Admin addresses (3 whitelisted admins)
ADMIN_1=0xc634457aD68b037E2D5aA1C10c3930d7e4E2d551
ADMIN_2=0x077b59a3751Cd6682534C8203aAb29113876af01
ADMIN_3=0x0000000000000000000000000000000000000003
